<meta charset='utf-8'>
<title><%= title %></title>

<script type='text/javascript' src='../../../scripts/d3/dist/d3.min.js'></script>
<script type='text/javascript' src='../../../scripts/d3-selection-multi/build/d3-selection-multi.min.js'></script>
<script type='text/javascript' src='../../../scripts/umap-js/lib/umap-js.js'></script>
<!-- <script type='text/javascript' src='scripts/d3-lasso/build/d3-lasso.min.js'></script> -->

<script type='text/javascript' src='../../js/d3.prototype.extensions.js'></script>
<!-- <script type='text/javascript' src='../../js/Array.prototype.extensions.js'></script> -->

<link rel='stylesheet' type='text/css' href='../../css/main.css'>