<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
    <link rel='stylesheet' type='text/css' href='../css/home.css'>
  </head>

  <body>
    <main>
      <a href='/wall/<%- Math.max(...locals.projects.map(d => d.id)) + 1 %>'>
        <button class='btn add-project'>+</button>
      </a>
      <ul>
        <% locals.projects.forEach(d => { %>
          <li>
            <a href='/wall/<%- d.id %>'>
              <button><%- d.title || 'Missing title' %></button>
            </a>
          </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
